@using Microsoft.AspNetCore.Identity
@using CodeSparkNET.Domain.Models;

@inject UserManager<AppUser> UserManager;

@{
  ViewData["Title"] = "Мини приложения";
  ViewData["App"] = "CodeSpark";

  var userName = User.Identity.Name;
  var user = UserManager.GetUserAsync(User).Result;
}

@section Styles {
  <link rel="stylesheet" href="~/css/Style/mini-app.css">
}

<div class="__container platform">
  <div class="header">
    <a href="@Url.Action("Index", "Home")" go-home hover></a>
    @if (!User?.Identity?.IsAuthenticated == true)
    {
      <a href="@Url.Action("Login", "Account")" data-style="hyper-button" hover><span>Войти</span></a>
    }
    else
    {
      <a href="@Url.Action("Profile", "Profile")" data-style="hyper-button" hover><span>Профиль</span></a>
    }
  </div>
  <div class="card">
    <a asp-controller="Catalogs" asp-action="Catalogs" class="pre-view">
      <div class="overflow-container">
        <div class="overflow-container">
          <span class="name_tag">CodeSpark (Origin)</span>
          <img class="poster-img" src="@Url.Content("~/assets/img/banner-tag.webp")" />
          <video class="content video" muted preload="metadata" playsinline>
            <source src="@Url.Action("GetVideo", "Catalogs", new { fileName = "opti_pro_video.mp4" })"
              type="video/mp4" />
          </video>
          <div class="content button" hover><span>Подробнее</span></div>
        </div>
        <div class="content button" hover>
          <span>Подробнее</span>
        </div>
      </div>
    </a>
    <a err-w class="pre-view">
      <div class="overflow-container">
        <div class="overflow-container">
          <span class="name_tag">Библиотека знаний</span>
          <img class="poster-img" src="@Url.Content("~/assets/img/banner-tag.webp")" />
          <video class="content video" muted preload="metadata" playsinline>
            <source src="@Url.Action("GetVideo", "Catalogs", new { fileName = "opti_pro_video.mp4" })"
              type="video/mp4" />
          </video>
          <div class="content button" hover><span>Подробнее</span></div>
        </div>
        <div class="content button" hover>
          <span>Подробнее</span>
        </div>
      </div>
    </a>
    <a err-w class="pre-view">
      <div class="overflow-container">
        <div class="overflow-container">
          <span class="name_tag">Монтажка</span>
          <img class="poster-img" src="@Url.Content("~/assets/img/banner-tag.webp")" />
          <video class="content video" muted preload="metadata" playsinline>
            <source src="@Url.Action("GetVideo", "Catalogs", new { fileName = "opti_pro_video.mp4" })"
              type="video/mp4" />
          </video>
          <div class="content button" hover><span>Подробнее</span></div>
        </div>
        <div class="content button" hover>
          <span>Подробнее</span>
        </div>
      </div>
    </a>
    <div class="overview-pre-video hidden"></div>
  </div>
  <div class="footer">
    <div class="container-link">
      <a href="@Url.Action("AllSupport", "Help")" data-style="link" hover>Центр поддержки</a>
      @* Сдесь нужно на разработку сайтов кидало чтобы *@
      <a href="@Url.Action("", "Catalogs")" data-style="link" hover>Разработка сайтов</a>
      @* Сдесь нужно на курсы кидало чтобы *@
      <a href="@Url.Action("", "Catalogs")" data-style="link" hover>Курсы</a>
      @* Сдесь нужно на курсачи кидало чтобы *@
      <a href="@Url.Action("", "Catalogs")" data-style="link" hover>Курсовые работы</a>
      <a href="@Url.Action("Documentations", "Documents")" data-style="link" hover>Документация</a>
    </div>
    <p class="description">© CodeSpark. 2025 г. Все права защищены </p>
  </div>
</div>

@section ScriptsMain {
  <script src="~/js/style/js-video.mini-app.js" data-load-priority="main"></script>
}