<!DOCTYPE html>
<html lang="ru" data-theme-color="dark" data-device="desktop" custom-scroll cross-browser>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="" title="" description="" content="">

    <script src="~/js/app/js-load.await.js" defer></script>

    <title>@ViewData["Title"] - CodeSpark</title>

    @* Рендер секции Styles из дочерних view (если она есть) *@
    @RenderSection("Meta", required: false)
    <link rel="stylesheet" href="~/css/assemble.site.css" asp-append-version="true">
    @RenderSection("Styles", required: false)

    @* <script src="~/js/app/get.info_about_device.js" defer asp-append-version="true"></script> *@
    <script src="~/js/app/assemble.app.js" defer asp-append-version="true"></script>
    <script src="~/js/windows/js-window.err-w.js" defer asp-append-version="true"></script>

    <noscript title="keyword"></noscript>
</head>

<body>
    <header data-layout="header">
        <nav class="__container" data-layout="navbar-site">
            <div class="l_block">
                <a logo href="@Url.Action("Index", "Home")"></a>
                <button select-btn-app data-style="on-hover" hover>Платформы
                    <span title="arrow">‹</span>
                </button>
                <button select-btn-service data-style="on-hover" hover>Сервисы
                    <span title="arrow">‹</span>
                </button>
                <div js-window-select-app class="js-window hidden" hidden="!">
                    <div window>
                        <button>It-Cubic</button>
                        <button>Code Spark</button>
                        <button>Монтажка</button>
                    </div>
                </div>
                <div js-window-select-service class="js-window hidden" hidden="!">
                    <div>
                        <button>Каталог товаров</button>
                        <button>Курсовые работы</button>
                        <button>Главная страница</button>
                        <button>Центр знаний</button>
                        <button>Премиум подписка</button>
                    </div>
                </div>
            </div>
            <div class="r-block">
                <partial name="_SignNavHTML" />
            </div>
        </nav>
    </header>

    <main data-layout="main" role="main">
        @RenderBody()
    </main>

    <footer data-layout="footer">
        <div class="__container">
            <div class="l_block">
                <a privacy_policy href="@Url.Action("PrivacyPolicy", "Documents")" data-style="on-hover" hover>политика
                    конфиденциальности</a>
                <a user_guide href="@Url.Action("UserGuide", "Documents")" data-style="on-hover" hover>Руководство
                    пользователя</a>
            </div>
            <div class="r_block">
                <a about href="@Url.Action("About", "Documents")" data-style="on-hover" hover>О нас</a>
                <button js-window-btn-preference></button>
                <div class="js-window hidden" js-window-menu-footer-site>
                    <div class="description">
                        <button lang err-w>русский</button>
                        <button theme-color hover></button>
                        <span time-for-prime></span>
                        <button animations-preference></button>
                        <div js-window-anim-pref>
                            <button>Всё отключено</button>
                            <button>hover-эффекты</button>
                            <button>Все анимации</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>