<!DOCTYPE html>
<html lang="ru" data-theme-color="dark" data-device="desktop" custom-scroll cross-browser data-animation="all">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="" title="" description="" content="">

    <title>@ViewData["Title"] – @ViewData["App"]</title>

    <script src="~/js/app/js-load.await.js"></script>
    @RenderSection("Meta", required: false)
    <link rel="stylesheet" href="~/css/assemble.site.css" asp-append-version="true">
    @RenderSection("Styles", required: false)

    @* <script src="~/js/app/get.info_about_device.js" defer asp-append-version="true"></script> *@
    <script src="~/js/app/assemble.app.js" defer asp-append-version="true"></script>
    <script src="~/js/windows/js-window.err-w.js" defer asp-append-version="true"></script>
    <script src="~/js/windows/js-window.navbar-header.site.js" defer></script>
</head>

<body>
    <header data-layout="header">
        <nav class="__container" data-layout="navbar-site">
            <div class="l_block">
                <a logo href="@Url.Action("Index", "Home")"></a>
                <button select-btn-app data-style="on-hover" hover>Платформы
                    <span title="arrow">‹</span>
                </button>
                <button select-btn-service data-style="on-hover" hover>Сервисы
                    <span title="arrow">‹</span>
                </button>
                <div js-window-select-app class="js-window hidden">
                    <div class="top-block">
                        <button hover js-app-course>Курсы</button>
                        <button hover js-app-course-work>Курсовые работы</button>
                        <button hover js-app-library>Библиотека знаний</button>
                        <button hover js-app-ai>Искусственный интеллект</button>
                        <button hover js-app-create-site>Создание сайтов</button>
                    </div>
                    <div class="bottom-block">
                        <div class="first-block">
                            <img js-app-img src="" alt="">
                        </div>
                        <div class="second-block">
                            <h3 class="headline" js-app-headline></h3>
                            <p class="description" js-app-description></p>
                        </div>
                        <div class="third-block" js-link-container-app></div>
                    </div>
                </div>
                <div js-window-select-service class="js-window hidden">
                    <div class="top-block">
                        <button hover js-service-prime-store>Премиум магазин</button>
                        <button hover js-service-prime>Prime подписка</button>
                        <button hover js-service-pattern>Шаблоны сайтов</button>
                        <button hover js-service-library-pack>Библиотеки</button>
                        <button hover js-service-documets>Документация</button>
                    </div>
                    <div class="bottom-block">
                        <div class="first-block">
                            <img js-service-img src="" alt="">
                        </div>
                        <div class="second-block">
                            <h3 class="headline" js-service-headline></h3>
                            <p class="description" js-service-description></p>
                        </div>
                        <div class="third-block" js-link-container-service></div>
                    </div>
                </div>
            </div>
            <div class="r-block">
                <partial name="_SignNavHTML" />
            </div>
        </nav>
    </header>

    <main data-layout="main" role="main">
        @RenderBody()
    </main>

    <footer data-layout="footer">
        <div class="__container">
            <div class="l_block">
                <a privacy_policy href="@Url.Action("PrivacyPolicy", "Documents")" data-style="on-hover" hover>политика
                    конфиденциальности</a>
                <a user_guide href="@Url.Action("UserGuide", "Documents")" data-style="on-hover" hover>Руководство
                    пользователя</a>
                <a documents href="@Url.Action("Documentations", "Documents")" data-style="on-hover"
                    hover>Документация</a>
            </div>
            <div class="r_block">
                <a about href="@Url.Action("About", "Documents")" data-style="on-hover" hover>О нас</a>
                <button hover js-window-btn-preference></button>
                <div class="js-window hidden" js-window-menu-footer-site>
                    <div class="description">
                        <h3>Настройки</h3>
                        <button hover lang>русский</button>
                        <button theme-color hover>
                            Тема сайта
                            <span class="btn-icon"></span>
                        </button>
                        <span hover time-for-prime>Прайм: $time-private</span>
                        <button hover animations-preference>Графика</button>
                        <div js-window-anim-pref class="hidden">
                            <button data-fn-animation="off" hover>Всё отключено</button>
                            <button data-fn-animation="hover" hover>hover-эффекты</button>
                            <button data-fn-animation="all" hover>Все анимации</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>