@model CodeSparkNET.Dtos.Account.RegisterDto

@{
  ViewData["Title"] = "Регистрация";
}

@section Styles {
  <link rel="stylesheet" href="~/css/style/register.css">
}

<div class="__container register">
  <header>
    <a href="@Url.Action("Index", "Home")" banner>
      <img src="~/../assets/img/banner-tag.webp" alt="head-banner">
    </a>
  </header>

  <form asp-action="Register" asp-controller="Account" method="post" class="form_controller">
    @Html.AntiForgeryToken()

    <div class="description">
      <h2>Зарегистрируйся!</h2>
      <h3>Уже есть аккаунт <a href="@Url.Action("Login", "Account")" login>Войти</a></h3>
    </div>
    <span asp-validation-summary="ModelOnly" class="error_message_reg_form"></span>
    <div class="input_block">
      <div class="names-block">
        <span asp-validation-for="UserName"></span>
        <label asp-for="UserName">Имя пользователя</label>
        <input asp-for="UserName" id="names" type="text" required>
      </div>
      <div class="email-block">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" id="email" type="email" required>
      </div>
      <div class="password-block">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" id="password" type="password" required>
      </div>
      <div class="confirm_password-block">
        <span asp-validation-for="ConfirmPassword"></span>
        <label asp-for="ConfirmPassword">Подтверждение пароля</label>
        <input asp-for="ConfirmPassword" id="confirm_password" type="password" required>
      </div>
      <div class="req_checkbox_pp-block">
        <span asp-validation-for="ConfirmToS"></span>
        <label asp-for="ConfirmToS" class="form-check-label">
          <input asp-for="ConfirmToS" type="checkbox" required>
          Я принимаю условия <a href="@Url.Action("License", "Documents")">Лицензионного соглашения</a>,
          <a href="@Url.Action("Privacy", "Documents")">Политики конфиденциальности</a> и даю согласие на обработку
          данных.
        </label>
      </div>
      <div class="checkbox_ads-block">
        <label asp-for="ConfirmAd" class="form-check-label">
          <input asp-for="ConfirmAd" type="checkbox">Я даю согласие на получение рекламных сообщений и
          предложений.</label>
      </div>
    </div>
    <button type="submit" data-style="hb">Зарегистрироваться</button>
  </form>

  <footer>
    <section>
      <a href="@Url.Action("License", "Documents")" hover data-style="link-new">Лицензионное соглашение</a>
      <a href="@Url.Action("Privacy", "Documents")" hover data-style="link-new">Политика конфиденциальности</a>
    </section>
    <section>
      © Code Spark, 2025. Все права на объекты прав третьих лиц принадлежат их законным правообладателям.
    </section>
  </footer>
</div>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}