@using Microsoft.AspNetCore.Identity
@model CodeSparkNET.Dtos.Profile.ProfileDto
@inject UserManager<AppUser> UserManager
@{
    var user = UserManager.GetUserAsync(User).Result;
}
@{
    ViewData["Title"] = "Личный кабинет";
}
@section Styles {
    <link rel="stylesheet" href="~/css/style/profile.css">
}
@section Meta {

}

<div logo-banner hover>
    <img src="~/../assets/img/banner-tag.webp" alt="banner">
</div>

<div class="__container profile_page">

    <h1>Личный кабинет</h1>

    <div class="long block data">
        <div class="l_block" hover>
            <div class="block header">
                <h2>Личные данные</h2>
            </div>
            <div class="block body">
                <h3 hover el="user-name" title="Имя пользователя">@ViewBag.UserName</h3>
                <button class="edit" data-function="edit-username" data-style="link" hover>
                    Изменить
                </button>
            </div>
            <div class="block body">
                @* <h3>@ViewBag.Role</h3> *@
                <h3 hover el="role" title="Роль">Пользователь</h3>
            </div>
            <div class="block body">
                <h3 hover el="p-time" title="Время до окончания подписки">$prime-time</h3>
            </div>
            <div class="block body">
                <h3 hover el="country" title="Страна проживания">$country</h3>
            </div>
            <div class="block footer">
                <h2>Активация кода</h2>
                <form class="input_block" action="#">
                    <input type="text" code placeholder="Введите код" hover>
                    <button type="submit" err-w data-style="hyper-button" hover><span>Активировать код</span></button>
                    @* data-function="alert-code-ok" *@
                    @* data-function="alert-code-err" *@
                </form>
            </div>
        </div>
        <div class="r_block" hover>
            <div class="block header">
                <h2>Настройки безопасности аккаунта</h2>
            </div>
            @if (UserManager.IsEmailConfirmedAsync(user).Result is false)
            {
                <div class="block body n_confirm">
                    <div class="left" hover>
                        <h3 title="Подтвердите адрес электронной почты">@ViewBag.Email</h3>
                        <span>Ваш Email не подтвержден!</span>
                    </div>
                    <button data-function="send-confirmation-email" class="btn right" data-style="link" hover
                        data-time="">Подтвердить</button>
                </div>
            }
            else
            {
                <div class="block body confirm">
                    <div class="left" hover>
                        <h3 title="Электронная почта">@ViewBag.Email</h3>
                        <span>Email добавлен: $data-confirm-email</span>
                    </div>
                    <button data-function="editEmailBtn" class="btn right" data-style="link" hover>Изменить</button>
                </div>
            }
            <div class="block body">
                <h3 hover el="password" title="Ваш пароль">Пароль добавлен: <span>$data-edit-password</span></h3>
                <button class="edit" data-function="editPasswordBtn" hover data-style="link">Изменить</button>
            </div>
            <div class="block body">
                <h3 hover el="2FA" title="Двуфакторная аутентификация. 2FA">Двуфакторная аутентификация</h3>
                <button class="connect" err-w hover data-style="link">Подключить</button>
                @* data-function="connect2FA" *@
            </div>
            <div class="block body">
                <h3 hover el="Cookie" title="Настройки файлов-Cookie">Правила использования Cookie</h3>
                <button class="tune" err-w hover data-style="link">Настройки</button>
                @* data-function="tuneCookie" *@
            </div>
            <div class="block body">
                <h3 hover el="tribute" title="Подключение подписки. Tribute">$tribute</h3>
                <button class="connect" err-w hover data-style="link">Подключить</button>
                @* data-function="connectTribute" *@
            </div>
            <div class="block body">
                <h3 hover el="debug" title="Нашли ошибки? Сообщите нам!">Сообщить об ошибке</h3>
                <button class="send" err-w hover data-style="link">Отправить</button>
                @* data-function="sendMessageAboutBug" *@
            </div>
            <div class="block body">
                <h3 hover el="user-guide" title="Руководство пользователя">Руководство пользователя</h3>
                <button class="see" err-w hover data-style="link-new">Посмотреть</button>
                @* data-function="connectTribute" *@
            </div>
        </div>
    </div>
    <div class="long block management">
        <div class="block session" hover>
            <h2>$Сеансы</h2>
        </div>
        <div class="block prime_pref" hover>
            <h2>$Настройка подписок</h2>
        </div>
    </div>
    <div class="long block save_data" hover>
        <div class="content">
            <div class="left">
                <h2>$Защита данных</h2>
                <span>$desc</span>
            </div>
            <div class="right">
                <button class="tune" hover data-style="link-new">Управление данными</button>
            </div>
        </div>
    </div>

    <div class="js-window hidden" js-window-change-password hidden="!">
        <div class="description" hover>
            <h2></h2>
            <a hover data-style="hyper-button" id="continueBtn"><span>Продолжить</span></a>
        </div>
    </div>
</div>

@if (UserManager.IsEmailConfirmedAsync(user).Result is true)
{ }
else
{
    <div class="js-window hidden" js-window-update-profile-name>
        <div class="description" hover step="1">
            <div class="progress-bar"></div>
            <div class="main-content step1">
                <h3 class="headline">Вы можете изменить своё имя на сайте. Переименование доступно не чаще 1 раза в 7
                    дней.
                </h3>
                <span class="desc">Имя должно содержать от 3 до 24 символов. Можно использовать латинские буквы и
                    цифры.</span>
                <div class="button-block">
                    <button hover data-style="hyper-button"
                        data-function="next-step-JS-UPName"><span>Продолжить</span></button>
                    <button class="backlink" hover data-style="link-new" type="button"
                        data-function="close-js-window-update-profile-name">Отмена</button>
                </div>
            </div>
            <div class="main-content step2">
                <form asp-action="UpdateProfile" asp-controller="Profile" method="post" id="UpdateProfileUserName">
                    @Html.AntiForgeryToken()
                    <span asp-validation-summary="ModelOnly" class="error_message_form">Ошибка сервера</span>
                    <div class="input_block" hover>
                        <span asp-validation-for="UpdatePersonalProfileDto.UserName"></span>
                        <label asp-for="UpdatePersonalProfileDto.UserName">Имя пользователя</label>
                        <input asp-for="UpdatePersonalProfileDto.UserName" id="names" type="text" required hover
                            placeholder="@ViewBag.UserName">
                        <input asp-for="UpdatePersonalProfileDto.Email" id="email" type="email" value="@ViewBag.Email"
                            required hover hidden="!">
                    </div>
                    <div class="block-button">
                        <button type="submit" data-style="hyper-button" hover>Сохранить</button>
                        <button class="backlink" hover data-style="link-new" type="button"
                            data-function="close-js-window-update-profile-name">Отмена</button>
                    </div>

                </form>
            </div>
            <div class="main-content step3">

            </div>
        </div>
    </div>
    <script src="~/js/windows/js-window.changeName.js" defer></script>

    <div class="js-window hidden" js-window-update-profile-email>
        <div class="description" hover step="1">
            <div class="progress-bar"></div>
            <div class="main-content step1">
                <h3 class="headline">Вы можете изменить свой Email на сайте. Изменение доступно не чаще 1 раза в 7
                    дней.
                </h3>
                <span class="desc">Имя должно содержать от 3 до 24 символов. Можно использовать латинские буквы и
                    цифры.</span>
                <div class="button-block">
                    <button hover data-style="hyper-button"
                        data-function="next-step-JS-Email"><span>Продолжить</span></button>
                    <button class="backlink" hover data-style="link-new" type="button"
                        data-function="close-js-window-update-profile-email">Отмена</button>
                </div>
            </div>
            <div class="main-content step2">
                <form asp-action="UpdateProfile" asp-controller="Profile" method="post" id="UpdateProfileEmail">
                    @Html.AntiForgeryToken()
                    <span asp-validation-summary="ModelOnly" class="error_message_form">Ошибка сервера</span>
                    <div class="input_block" hover>
                        <span asp-validation-for="UpdatePersonalProfileDto.Email"></span>
                        <label asp-for="UpdatePersonalProfileDto.Email">Новый Email</label>
                        <input asp-for="UpdatePersonalProfileDto.UserName" id="names" type="text" required hover
                            value="@ViewBag.UserName" hidden="!">
                        <input asp-for="UpdatePersonalProfileDto.Email" id="email" type="email" placeholder="@ViewBag.Email"
                            required hover>
                    </div>
                    <div class="block-button">
                        <button type="submit" data-style="hyper-button" hover>Сохранить</button>
                        <button class="backlink" hover data-style="link-new" type="button"
                            data-function="close-js-window-update-profile-email">Отмена</button>
                    </div>

                </form>
            </div>
            <div class="main-content step3">

            </div>
        </div>
    </div>
    <script src="~/js/windows/js-window.changeEmail.js" defer></script>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}