@using Microsoft.AspNetCore.Identity
@model CodeSparkNET.Dtos.Profile.ProfileDto
@inject UserManager<AppUser> UserManager
@{
    var user = UserManager.GetUserAsync(User).Result;
    var confirmResultJson = System.Text.Json.JsonSerializer.Serialize(ViewBag.EmailConfirmationResult ?? "");
    var confirmMessageJson = System.Text.Json.JsonSerializer.Serialize(ViewBag.EmailConfirmationMessage ?? "");
    /*Никита смотри эти две нижние переменные это результат подтверждения почту. Когда пользователь переходит по ссылке их
    письма у него открывается эта страница и пусть через обрабатывается это и если поля не пустые, то выводиться модальное
    окно с сообщением успешно или нет и с описанием.*/
}
@{
    ViewData["Title"] = "Профиль";
}
@section Styles {
    <link rel="stylesheet" href="~/css/style/profile.css">
}

<h1>@ViewData["Title"]</h1>

<div class="__container profile_page loaded">
    @if (UserManager.IsEmailConfirmedAsync(user).Result is false)
    {
        <div role="alert">
            Ваш email не подтвержден.
            <a id="confirmEmailBtn">Отправить письмо с
                подтверждением</a>.
        </div>
    }
    else
    {
        <div>Ваш email подтвержден</div>
    }
    <form asp-action="UpdateProfile" asp-controller="Profile" method="post" class="form_controller">
        @Html.AntiForgeryToken()

        <div class="description">
            <h2>Личные данные!</h2>
        </div>
        <span asp-validation-summary="ModelOnly" class="error_message_form"></span>
        <div class="input_block">
            <div class="names-block">
                <span asp-validation-for="UpdatePersonalProfileDto.UserName"></span>
                <label asp-for="UpdatePersonalProfileDto.UserName">Имя пользователя</label>
                <input asp-for="UpdatePersonalProfileDto.UserName" id="names" type="text" value="@ViewBag.UserName"
                    required hover>
            </div>
            <div class="email-block not_margin_top">
                <span asp-validation-for="UpdatePersonalProfileDto.Email" class="not_margin_top"></span>
                <label asp-for="UpdatePersonalProfileDto.Email">Email</label>
                <input asp-for="UpdatePersonalProfileDto.Email" id="email" type="email" value="@ViewBag.Email" required
                    hover>
            </div>
            <div class="password-block">
                @ViewBag.Role
            </div>
        </div>
        <button type="submit" data-style="hyper-button" hover>Сохранить</button>
    </form>
    <form asp-action="ChangePassword" asp-controller="Profile" method="post" class="form_controller">
        @Html.AntiForgeryToken()

        <div class="description">
            <h2>Смена пароля</h2>
        </div>
        <span asp-validation-summary="ModelOnly" class="error_message_form"></span>
        <div class="input_block">
            <div class="names-block">
                <span asp-validation-for="ChangePasswordDto.CurrentPassword"></span>
                <label asp-for="ChangePasswordDto.CurrentPassword">Текущий пароль</label>
                <input asp-for="ChangePasswordDto.CurrentPassword" id="names" type="password" required hover>
            </div>
            <div class="email-block not_margin_top">
                <span asp-validation-for="ChangePasswordDto.NewPassword" class="not_margin_top"></span>
                <label asp-for="ChangePasswordDto.NewPassword">Новый пароль</label>
                <input asp-for="ChangePasswordDto.NewPassword" id="email" type="password" required hover>
            </div>
            <div class="email-block not_margin_top">
                <span asp-validation-for="ChangePasswordDto.ConfirmPassword" class="not_margin_top"></span>
                <label asp-for="ChangePasswordDto.ConfirmPassword">Подтверждение пароля</label>
                <input asp-for="ChangePasswordDto.ConfirmPassword" id="email" type="password" required hover>
            </div>
        </div>
        <button type="submit" data-style="hyper-button" hover>Сохранить</button>
    </form>

    <div class="js-window hidden" js-window-send-confirmation-email>
        <div class="description" hover>
            <h2>Проверьте вашу почту</h2>
            <a hover data-style="hyper-button"><span>Продолжить</span></a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const confirmEmailBtn = document.getElementById('confirmEmailBtn');
            // Handle confirm email button click
            confirmEmailBtn.addEventListener('click', async (event) => {
                event.preventDefault();

                showSendEmailResultModal();

                try {
                    const response = await fetch('@Url.Action("SendEmailConfirmation", "Profile")', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                } catch (error) {
                    console.error('Произошла ошибка:', error);
                }
            });
            //TODO: add modal windows for update profile and change password
            function showSendEmailResultModal() {
                const modalWindow = document.querySelector('[js-window-send-confirmation-email]');

                if (!modalWindow) {
                    return;
                }

                modalWindow.classList.replace('hidden', 'visible');
            }
        });
    </script>

</div>


@*
    #Modal
    1. Окно изменения пароля
    2. Обновление личных данных
    3. Поддтверждение email
*@
