<!DOCTYPE html>
<html lang="ru-RU" data-theme-color="dark" data-device="desktop" custom-scroll cross-browser data-animation="all">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] – @ViewData["App"]</title>

    <style>
        body.not-ready {
            position: relative;
            overflow: hidden;

            &::after {
                content: "";
                position: fixed;
                z-index: 1000;
                inset: 0;
                width: 100%;
                height: 100%;
                background: #1f1f1f;
            }
        }

        #app-root {
            visibility: hidden;
            opacity: 0;
            transition: opacity .25s ease;
        }

        #app-root.ready {
            visibility: visible;
            opacity: 1;
        }

        #page-styles-container,
        #page-scriptsMain-container,
        #page-scriptsAdditions-container {
            display: none;
        }

        [js-load-page] {
            position: fixed;
            inset: 0;
            opacity: 1;
            z-index: 2000;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #1f1f1f;
        }

        [js-load-page] section {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .6s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;
            background: #ffd23f30;
            border: 2px #ffd23f solid;
            border-radius: 8px;
            padding: 10px;
        }

        [js-bad-load] {
            width: 60px;
            height: 50px;
            --m: no-repeat linear-gradient(90deg, #000 70%, #0000 0);
            -webkit-mask:
                var(--m) calc(0*100%/4) 100%/calc(100%/5) calc(1*100%/5),
                var(--m) calc(1*100%/4) 100%/calc(100%/5) calc(2*100%/5),
                var(--m) calc(2*100%/4) 100%/calc(100%/5) calc(3*100%/5),
                var(--m) calc(3*100%/4) 100%/calc(100%/5) calc(4*100%/5),
                var(--m) calc(4*100%/4) 100%/calc(100%/5) calc(5*100%/5);
            background: linear-gradient(#ffa216 0 0) left/0% 100% no-repeat #ddd;
            animation: load-not_conntecion 2s infinite steps(6);
        }

        [js-load-page] section article {
            color: #ffd23f;
            font-weight: 700;
            font-size: 20px;
        }

        [js-loader] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .6s ease;
            width: 70px;
            aspect-ratio: 1;
            display: grid;
        }

        [js-loader]::before,
        [js-loader]::after {
            content: "";
            grid-area: 1/1;
            --c: no-repeat radial-gradient(farthest-side, #9780e5 92%, #0000);
            background:
                var(--c) 50% 0,
                var(--c) 50% 100%,
                var(--c) 100% 50%,
                var(--c) 0 50%;
            background-size: 20px 20px;
            animation: load-main 1s infinite;
        }

        [js-loader]::before {
            margin: 4px;
            filter: hue-rotate(45deg);
            background-size: 12px 12px;
            animation-timing-function: linear;
        }

        @@keyframes
        load-main {
            100% {
                transform: rotate(.5turn)
            }
        }

        @@keyframes
        load-not_conntecion {
            100% {
                background-size: 120% 100%
            }
        }
    </style>

    <script src="~/js/app/js-load.await.js"></script>

    <div id="page-styles-container">
        @RenderSection("Styles", required: false)
    </div>
</head>

<body class="not-ready">
    <header data-layout="header">
        <nav class="__container" data-layout="navbar-site">
            <div class="l_block">
                <a logo href="@Url.Action("Index", "Home")"></a>
                <button select-btn-app data-style="on-hover" hover>Платформы
                    <span title="arrow">‹</span>
                </button>
                <button select-btn-service data-style="on-hover" hover>Сервисы
                    <span title="arrow">‹</span>
                </button>
                <div js-window-select-app class="js-window hidden">
                    <div class="top-block">
                        <button hover js-app-shedule>Шаблоны</button>
                        <button hover js-app-course-work>Курсовые работы</button>
                        <button hover js-app-library>Библиотека знаний</button>
                        @* <button hover js-app-ai>Искусственный интеллект</button> *@
                        <button hover js-app-create-site>Создание сайтов</button>
                    </div>
                    <div class="bottom-block">
                        <div class="first-block">
                            <img js-app-img src="" alt="">
                        </div>
                        <div class="second-block">
                            <h3 class="headline" js-app-headline></h3>
                            <p class="description" js-app-description></p>
                        </div>
                        <div class="third-block" js-link-container-app></div>
                    </div>
                </div>
                <div js-window-select-service class="js-window hidden">
                    <div class="top-block">
                        @* <button hover js-service-prime-store>Премиум магазин</button> *@
                        @* <button hover js-service-prime>Prime подписка</button> *@
                        <button hover js-service-pattern>Заготовки сайтов</button>
                        @* <button hover js-service-library-pack>Библиотеки</button> *@
                        <button hover js-service-documets>Документация</button>
                    </div>
                    <div class="bottom-block">
                        <div class="first-block">
                            <img js-service-img src="" alt="">
                        </div>
                        <div class="second-block">
                            <h3 class="headline" js-service-headline></h3>
                            <p class="description" js-service-description></p>
                        </div>
                        <div class="third-block" js-link-container-service></div>
                    </div>
                </div>
            </div>
            <div class="r-block">
                <partial name="_SignNavHTML" />
            </div>
        </nav>
    </header>

    <main data-layout="main" role="main" id="app-root">
        @RenderBody()
    </main>

    <footer data-layout="footer">
        <div class="__container">
            <div class="l_block">
                <a privacy_policy href="@Url.Action("PrivacyPolicy", "Documents")" data-style="on-hover" hover>политика
                    конфиденциальности</a>
                <a user_guide href="@Url.Action("UserGuide", "Documents")" data-style="on-hover" hover>Руководство
                    пользователя</a>
                <a documents href="@Url.Action("Documentations", "Documents")" data-style="on-hover"
                    hover>Документация</a>
            </div>
            <div class="r_block">
                <a about href="@Url.Action("About", "Documents")" data-style="on-hover" hover>О нас</a>
                <button hover js-window-btn-preference></button>
                <div class="js-window hidden" js-window-menu-footer-site>
                    <div class="description">
                        <h3>Настройки</h3>
                        <button hover lang>русский</button>
                        <button theme-color hover>
                            Тема сайта
                            <span class="btn-icon"></span>
                        </button>
                        <span hover time-for-prime>Прайм: $time-private</span>
                        <button hover animations-preference>Графика</button>
                        <div js-window-anim-pref class="hidden">
                            <button data-fn-animation="off" hover>Всё отключено</button>
                            <button data-fn-animation="hover" hover>hover-эффекты</button>
                            <button data-fn-animation="all" hover>Все анимации</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- секции Scripts
       Важно: чтобы loader контролировал порядок, в секциях пиши теги так:
       <script
       data-src="@@(Url.Content(\"~/js/api или style или windows/файл.js\"))" type="text/plain"
       ></script> -->
    <div id="page-scriptsMain-container">
        @await RenderSectionAsync("ScriptsMain", required: false)
    </div>
    <div id="page-scriptsAdditions-container">
        @await RenderSectionAsync("ScriptsAdditions", required: false)
    </div>
    <script src="@(Url.Content("~/js/windows/js-window.navbar-header.site.js"))"  defer></script>
</body>

</html>