@using CodeSparkNET.Application.Services.Catalogs
@using CodeSparkNET.Domain.Models;
@using Microsoft.AspNetCore.Identity
@inject ICatalogService CatalogService
@inject UserManager<AppUser> UserManager
@{
  var userName = User.Identity.Name;
  var user = UserManager.GetUserAsync(User).Result;
  var catalogs = await CatalogService.GetCatalogNamesAsync();
}

<header class="webapp-nav">
  <nav class="__container">
    <section class="left" style="--docs-width: 0px; --catalog-width: 0px;">
      <a asp-action="Index" asp-controller="Home" banner-CS hover></a>
      <button js-list-catalog-btn hover>Каталог</button>
      <div js-list-catalog class="list hidden">
        @foreach (var catalog in catalogs)
        {
            if (catalog.IsLinkOnly)
            {
                <a asp-controller="@catalog.PageController" asp-action="@catalog.PageName" hover>@catalog.Name</a>
            }
            else
            {
                <a asp-controller="Catalogs" asp-action="Catalog" asp-route-catalogSlug="@catalog.Slug" hover>@catalog.Name</a>
            }
        }
      </div>
      <button js-list-documents-btn hover>Документация</button>
      <div js-list-documents class="list hidden">
        <a hover href="@Url.Action("PrivacyPolicy", "Documents")">Политика конфиденциальности</a>
        <a hover href="@Url.Action("UserGuide", "Documents")">Руководство пользователя</a>
        <a hover href="@Url.Action("LicenseAgreement", "Documents")">Лицензионное соглашение</a>
        <a hover href="@Url.Action("UsePolicy", "Documents")">Политика использования</a>
        <a hover href="@Url.Action("Copyright", "Documents")">Авторские права</a>
        <a hover href="@Url.Action("About", "Documents")">О нас</a>
      </div>
      <button js-list-socials-btn hover>Соц. сети</button>
      <div js-list-socials class="list hidden">
        <a el="icon-tg" hover>Телеграмм</a>
        <a el="icon-vk" hover>Вконтакте</a>
        <a el="icon-git" hover>GitHub</a>
        <a el="icon-youtube" hover>YouTube</a>
      </div>
    </section>
    <section class="mobile">
      <button open-menu-mobile class="menu-btn" hover><span></span></button>
      <aside menu-mobile class="hidden">
        <p>Навигация</p>
        <button class="close-menu-btn" close-menu-btn></button>
        <button class="local-btn" js-menu-catalog-btn hover>Каталог</button>
        <div js-menu-catalog class="menu hidden">
          @foreach (var catalog in catalogs)
          {
            <a asp-controller="Catalogs" asp-action="Catalog" asp-route-catalogSlug="@catalog.Slug" hover>
              @catalog.Name
            </a>
          }
        </div>
        <button class="local-btn" js-menu-documents-btn hover>Документация</button>
        <div js-menu-documents class="menu hidden">
          <a hover href="@Url.Action("PrivacyPolicy", "Documents")">Политика конфиденциальности</a>
          <a hover href="@Url.Action("UserGuide", "Documents")">Руководство пользователя</a>
          <a hover href="@Url.Action("LicenseAgreement", "Documents")">Лицензионное соглашение</a>
          <a hover href="@Url.Action("UsePolicy", "Documents")">Политика использования</a>
          <a hover href="@Url.Action("Copyright", "Documents")">Авторские права</a>
          <a hover href="@Url.Action("About", "Documents")">О нас</a>
        </div>
        <button class="local-btn" js-menu-socials-btn hover>Соц. сети</button>
        <div js-menu-socials class="menu hidden">
          <a el="icon-tg" hover>Телеграмм</a>
          <a el="icon-vk" hover>Вконтакте</a>
          <a el="icon-git" hover>GitHub</a>
          <a el="icon-youtube" hover>YouTube</a>
        </div>
      </aside>
      <div class="overview" premenu></div>
    </section>
    <section class="right">
      @if (!User?.Identity?.IsAuthenticated == true)
      {
        <a asp-controller="Account" asp-action="Login" hover>Войти</a>
        <a asp-controller="Catalogs" asp-action="MiniApp" id="miniApp" hover>Мини приложения</a>
        <a asp-controller="Catalogs" asp-action="Catalogs" id="CatalogsSections" hover>Каталог разделов</a>
      }
      else
      {
        <a asp-controller="Catalogs" asp-action="MiniApp" id="miniApp" hover>Мини приложения</a>
        <a asp-controller="Catalogs" asp-action="Catalogs" id="CatalogsSections" hover>Каталог разделов</a>
      }
    </section>
  </nav>
</header>

<script src="~/js/windows/js-list.desktop.js" data-load-priority="addition" defer></script>
<script src="~/js/windows/js-menu.mobile.js" data-load-priority="main" defer></script>
<script src="~/js/style/async.replace-btn_catalogs.js" data-load-priority="main" defer></script>