@* @using CodeSparkNET.Dtos.Products
@model CourseDto
<div class="course-hero">
    <h1>@Model.Product.Title</h1>
    <p>Продолжительность: @Model.CourseDetail.EstimatedHours часов</p>
    <p>Студентов: @Model.EnrolledStudents</p>
</div>
<div class="course-modules">
    @foreach (var module in Model.Modules)
    {
        <div class="module">
            <h3>@module.Title</h3>
            <span>@module.Lessons.Count уроков</span>
        </div>
    }
</div> *@