@model List<CodeSparkNET.ViewModels.Catalogs.CatalogNamesViewModel>
@using Microsoft.AspNetCore.Identity
@using CodeSparkNET.Interfaces
@using CodeSparkNET.Interfaces.Services

@inject UserManager<AppUser> UserManager;

@{
    ViewData["Title"] = "Каталог товаров";
    ViewData["App"] = "CodeSpark";

    var userName = User.Identity.Name;
    var user = UserManager.GetUserAsync(User).Result;
}

@section Styles {
    <link rel="stylesheet" href="~/css/Style/layout-header.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Style/layout-footer.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Style/mini-app.css">
}

<partial name="_WebApp_Navbar_header" />

<div class="__container platform catalog">
    <div class="card">
        @foreach (var catalog in Model)
        {
            @if (catalog.IsLinkOnly)
            {
                <a asp-controller="@catalog.PageController" asp-action="@catalog.PageName" data-name="@catalog.Name"
                    class="pre-view">
                    <div class="overflow-container">
                        <div class="overflow-container">
                            <span class="name_tag">@catalog.Name</span>
                            <img class="poster-img" src="@Url.Content("~/assets/img/banner-tag.webp")" />
                            <video class="content video" muted preload="metadata" playsinline>
                                <source src="@Url.Action("GetVideo", "Catalogs", new { fileName = catalog.Name + ".mp4" })"
                                    type="video/mp4" />
                            </video>
                            <div class="content button" hover><span>Подробнее</span></div>
                        </div>
                        <div class="content button" hover>
                            <span>Подробнее</span>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a asp-controller="Catalogs" asp-action="Catalog" asp-route-catalogSlug="@catalog.Slug"
                    data-name="@catalog.Name" class="pre-view">
                    <div class="overflow-container">
                        <div class="overflow-container">
                            <span class="name_tag">@catalog.Name</span>
                            <img class="poster-img" src="@Url.Content("~/assets/img/banner-tag.webp")" />
                            <video class="content video" muted preload="metadata" playsinline>
                                <source src="@Url.Action("GetVideo", "Catalogs", new { fileName = catalog.Name + ".mp4" })"
                                    type="video/mp4" />
                            </video>
                            <div class="content button" hover><span>Подробнее</span></div>
                        </div>
                        <div class="content button" hover>
                            <span>Подробнее</span>
                        </div>
                    </div>
                </a>
            }
        }
        <div class="overview-pre-video hidden"></div>
    </div>
</div>

<partial name="_WebApp_Navbar_footer" />

@section ScriptsMain {
    <script src="~/js/style/js-video.mini-app.js" data-load-priority="main"></script>
}