<footer class="webapp-basement">
  <div class="__container">
    <section class="logo-btn">
      <a href="@Url.Action("Index", "Home")" class="logo" hover><img src="~/../assets/img/banner-tag.webp" alt="Logo-btn"></a>
    </section>
    <section class="socials">
      <a class="btn" hover err-w title="Библиотека знаний"></a>
      <a class="btn" hover err-w title="CodeSpark"></a>
      <a class="btn" hover err-w title="Новости"></a>
      <a class="btn" hover err-w title="Телеграмм"></a>
      <a class="btn" hover err-w title="Вконтакте"></a>
      <a class="btn" hover err-w title="Гит-Хаб"></a>
      <a class="btn" hover err-w title="Ютуб"></a>
      <a class="btn" hover err-w title="Вк.Видео"></a>
    </section>
    <section class="block-button">
      <a hover href="@Url.Action("AllSupport", "Help")" class="support-center" data-text="Центр поддержки"></a>
      <a hover href="@Url.Action("CodeSupport", "Help")" class="support-code" data-text="Тех. поддержка"></a>
      @* сдесь-на-каталог-по-сайтам *@
      <a hover class="support-center" data-text="Разработка сайтов"></a>
      @* сдесь-на-каталог-по-курсачам *@
      <a hover class="support-center" data-text="Курсовые работы"></a>
      <a hover href="@Url.Action("LicenseAgreement", "Documents")" class="support-center"
        data-text="Лицензия"></a>
      <a hover href="@Url.Action("PrivacyPolicy", "Documents")" class="support-center"
        data-text="Конфиденциальность"></a>
    </section>
    <section class="description">
      <span class="description">© CodeSpark, 2025. Все права защищены.</span>
      <article class="container-img">
        <span class="age"></span>
        <span class="financial-transactions"></span>
      </article>
    </section>
  </div>
</footer>